aiohttp==3.7.4.post0
APScheduler==3.8.1
async-timeout==3.0.1
attrs==21.2.0
chardet==4.0.0
grapejuice==3.65.16
idna==3.3
multidict==5.2.0
py-cord==2.0.0a4496+gb872cfea
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
six==1.16.0
typing_extensions==4.0.1
tzdata==2021.5
tzlocal==4.1
yarl==1.7.2
